apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    app: mongo
    database: tier
spec:
  ports:
  - port: 27017
    name: web
  clusterIP: None
  selector:
    app: mongo
    database: tier